@import '../../variables.scss';

.RecentFiles, .PushRequests {
  width: 100%;

  h2{
    text-align: center;
    margin-bottom: 1rem;
  }

  .modal {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    top: $header-height;
    left: 0;
    background-color: rgba($color: $primary-background, $alpha: 0.9);
    transform: translateY(-150%);
    transition: all 0.7s ease-out;

    &.show {
      transform: translateY(0);
    }
  }

  .closeBtn {
    position: fixed;
    z-index: 3;
    top: $header-height;
    right: $side-padding;
    transform: translateY($side-padding);
    font-size: 5rem;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: crimson;
  }

  .ctaButton {
    margin-bottom: $side-padding;
    background: $darker-background;
    color: $primary-text;
    padding: .5rem 1rem;
    font-size: .9rem;
    cursor: pointer;
    transition: all 0.5s ease-out;

    &:hover {
      color: $link-color;
      border-color: $link-color;
    }
  }

  table {
    color: $secondary-text;
    border: 2px solid rgba($color: $secondary-text, $alpha: .6);
    border-collapse: collapse;
    margin-bottom: 1rem;

    thead {
      tr {
        th {
          padding-top: .4rem;
          padding-bottom: .4rem;
          border: 2px solid rgba($color: $secondary-text, $alpha: .6);
          border-top: 0;
        }
      }
    }

    tbody {
      tr {
        td {
          border: 1px solid rgba($color: $secondary-text, $alpha: .6);
          border-left-width: 2px;
          border-right-width: 2px;
          border-bottom: 0;
          border-top: 0;
          padding: .4rem 2rem;

          a {
            color: darken($color: $link-color, $amount: 30);
            text-decoration: none;
          }

          button {
            margin-right: .5rem;
            margin-top: .3rem;
            padding: 0.06rem .3rem;
            cursor: pointer;
            font-size: .9rem;
            transition: all 0.5s ease-out;

            &:hover {
              background: $primary-background;
              color: $primary-text;
            }

            &:last-child {
              margin: 0;
              color: crimson;
            }
          }
        }

        &:nth-child(even) {
          background-color: lighten($color: rgba($color: $darker-background, $alpha: 0.9), $amount: 75);
        }
      }
    }
  }

  .cta {
    margin: 1.25rem 0;

    a {
      text-decoration: none;
      color: $primary-text;
      background-color: $primary-background;
      border: 2px solid transparent;
      border-radius: 7px;
      padding: 10px 2rem;
      transition: all 0.5s ease-out;

      &:hover {
        color: $link-color;
        border-color: $link-color;
      }
    }
  }
}